<ActionBar title="" class="action-bar">
    <StackLayout orientation="horizontal">
        <Label text="Репетиционни" class="title title-bolded"></Label>
        <Label text="Карта" (tap)="onNavMapTap()" class="title"></Label>
    </StackLayout>
</ActionBar>

<GridLayout rows="*">
    <ListView [items]="rehearsalRooms">
        <template let-item="item">
            <Button [text]="item.Name" (tap)="goToDetails(item)" class="btn btn-primary"></Button>
        </template>
    </ListView>
</GridLayout>