<ActionBar title="" class="action-bar">
    <FlexboxLayout justifyContent="space-between" width="350">
        <Label text="Репетиционни" class="title title-bolded"></Label>
        <StackLayout orientation="horizontal" (tap)="onNavMapTap()">
            <Label text="Карта" class="title"></Label>
            <Label text="map2" class="map-button"></Label>
        </StackLayout>
    </FlexboxLayout>
</ActionBar>

<GridLayout rows="*">
    <ListView [items]="rehearsalRooms">
        <template let-item="item">
            <Button [text]="item.Name" (tap)="goToDetails(item)" class="btn btn-primary"></Button>
        </template>
    </ListView>
</GridLayout>