.details-box {
    border: 1;
    border-radius: 5;
    border-color: #000000;

    margin-top: 10;
    margin-left: 10;
    margin-bottom: 5;
    margin-right: 5;

    padding: 10;   
    
    background-color: white;
    background-image: none;

    text-align: center;
}

.btn-call {
    background-color: transparent;
    margin-top: 0;
}

.call-icon{
    margin-left:10;
    font-family: 'icomoon';
    font-size: 18;
    content: "phone";
}

.details-box-items {
    justify-content: space-between;
}